
{% extends 'base.html' %}

{% block content %}
    <div class="contactpage ">
    <br><br><br>

<video id="vid" autoplay muted>
 <source src="../static/css/VE_004.mov" type="video/mp4">

</video>
    <div class="container-narrow wow zoomIn">
    {% load bootstrap_tags %}
    <h3>Send me a message - Write a little about your new site!</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | as_bootstrap }}

        <button type="submit" class="btn btn-btn-primary" data-toggle="modal" data-target="#myModal1">Submit</button>
    </form>
    </div>
    <br><br>


</div>
{% endblock %}
